<div class="row">
    <div class="col-md-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12 btn-toolbar">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input formControlName="name" type="text" id="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input formControlName="imagePath" type="text" id="imagePath" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="" alt="Error, couldn't load image" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea formControlName="description" type="text" id="description" class="form-control"
                            rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i"
                        style="margin: 10px;">
                        <div class="col-md-8">
                            <input formControlName="name" type="text" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <input formControlName="amount" type="number" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>